/**用户登录页面样式**/

.page-wrap{
    padding: 40px 0;
    background: #FFDEAD;
}
.user-con{
    width: 400px;
    background: #fff;
    margin: 0 auto;
    position: relative;

}
.user-con .user-title{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
    color: #666;
}
.user-con .user-box{
    padding: 20px;
}
/**错误提示**/
.user-con .user-box .error-item{
    position: relative;
    padding: 4px 0 4px 40px;
    margin-bottom: 10px;
    border: #FF6633;
    color: #FF6633;
    /*background:	#FFDEAD;*/
    display: none;

}
.user-con .user-box .error-icon{
    position: absolute;
    left: 14px;
    top: 50%;
    font-size: 14px;
    margin-top: -7px;
}
.user-con .user-item{
    position: relative;
    margin-bottom: 20px;

}
.user-con .user-item .user-label{
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    width: 40px;
    line-height: 36px;
    /*background: #f3f3f3;*/
    font-size: 18px;
    color: #d3d3d3;
    text-align: center;
    border-right: 1px solid #f6f6f6;

}
.user-con .user-box .user-item .user-content{
    padding: 10px 0 10px 50px;
    width: 308px;
    height: 18px;
    line-height: 18px;
    font-size: 15px;
    border: 1px solid #f6f6f6;
}
.user-box .login-btn{
    background: #FFDEAD;
    width: 360px;
    height: 40px;
    line-height: 40px;
    color: white;
    font-size: 16px;
}
.user-con .user-box .link-item{
    text-align: right;
    margin-top: 10px;
}
.user-con .user-box .link-item .link{
    margin-left: 10px;
    color: #555555;
}
.user-con .user-box .link-item .link:hover{
    color: #FFDEAD;
}